<section>
<div class = 'user-info'>
    <div class = 'user-photo'>
        <img src='<%= @user.photo %>' alt = '<%= @user.name %> photo' />
    </div>
    <div class = 'user-detail'>
        <h2> <%= @user.name %></h2>
        <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
</div>
<div class = 'bio'>
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
</div>

<div class = 'posts'>
    <% @user.three_recent_posts.each do |post| %>
        <div class = 'myposts'>
            <h4><%= link_to post.title, user_post_path(@user, post)  %></h4>
            <p><%= post.text %></p>
            <span class = 'comments-likes'>
                Comments: <%= post.comments_counter || 0 %>
                Likes: <%= post.likes_counter || 0 %>
            </span>
        </div>
    <% end %>
</div>
<button class = 'view-all-posts'>
    <%= link_to 'see all posts', user_posts_path(@user) %>
</button>
</section>