<h1>User details</h1>

<section>
    <div>
      <img src='<%= @user.photo %>' alt= '<%= @user.name %> photo' />
      <h1><%= @user.name %> </h1>
      <p> Number of posts: <%= @user.posts_counter %> </p>
    </div>

    <div>
      <h4>Bio</h4>
      <p> <%= @user.bio %> </p>
    </div>
    <div>
      <% @user.recent_posts.each do |post| %>
        <div>
          <h5><%= link_to post.title, user_post_path(@user, post) %> </h5>
          <p> <%= post.text %> </p>
          <span>
            Comments: <%= post.comments_counter || 0 %>
            Likes: <%= post.likes_counter || 0 %>
            </span>
        </div>
      <%end%>
    </div>
    <div>
      <button>
          <%= link_to 'see all posts', user_posts_path(@user) %>
      </button>

      <button>
          <%= link_to 'create posts', new_user_post_path(@user) %>
      </button>
    </div>
</section>