<div class="container">
  <h2>New Post</h2>
  <%= form_with model: Post, url: user_posts_path do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :text %>
      <%= f.text_area :text %>
      <%= f.submit "Create a Post" %>
  <% end %>
</div>