<%= form_with model: Post, url: user_posts_path do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div>
    <%= f.submit "Create a Post" %>
  </div>
<% end %>