<h1> List of Users Posts </h1>

<section>
      <div>
        <img src='<%= @users.photo %>' alt= '<%= @users.name %> photo' />
      </div>
      <span>
        <%= @users.name %>
        <p>Number of posts: <%= @users.posts_counter %> </p>
      </span>
      <div>
        <%= @users.posts.each do |post| %>
        <span>
        <h5><%= link_to post.title, user_post_path(@users, post) %></h5>
        <p> <%= post.text %> </p>
        </span>
        <span>
          Comments: <%= post.comments_counter || 0 %>
          Likes: <%= post.likes_counter || 0 %>
        </span>
        <div>
          <ul>
            <% if post.recent_comments.length == 0 %>
            <p>No comments</p>
            <% else %>
              <% post.recent_comments.includes(:author).each do |comment| %>
                <li><%= comment.author.name %> : <%= comment.text %></li>
                <% end %>
              <% end %>
          </ul>

        </div>
        <% end %>
      </div>
</section>