<h1> Users Post Details </h1>
<section>
  <div>
    <h3> <%= @post.title %> by <%= @post.author.name %> </h3>
    <p><%= @post.text %></p>
    <span>
      Comments: <%= @post.comments_counter || 0 %>
      Likes: <%= @post.likes_counter || 0 %>
    </span>
    <p>
      <%= @post.text %>
    </p>
    <div>
      <ul>
        <% if @post.recent_comments.length == 0 %>
          <p> No Comments</p>
          <% else %>
          <% @post.recent_comments.includes(:author).each do |comment| %>
            <li><%= comment.author.name %>: <%= comment.text %></li>
            <% end %>
          <% end %>
      </ul>
        <%= render 'comments/form' %>
        <%= render 'likes/like' %>
    </div>
  </div>
</section>