<h1> Users Post Details </h1>
<section>
  <div>
    <h3> <%= @post.title %> by <%= @post.author.name %> </h3>
    <p><%= @post.text %></p>
    <span>
      Comments: <%= @post.comments_counter || 0 %>
      Likes: <%= @post.likes_counter || 0 %>
    </span>
    <p>
      <%= @post.text %>
    </p>
    <div>
        <% if @comments.length == 0 %>
          <p> No comments yet.</p>
          <% else %>
            <% @comments.each do |comment| %>
              <div>
                <p><%= comment.author.name %>: <%= comment.text %></p>
              </div>
            <% end %>
          <% end %>
        <%= render 'comments/form' %>
        <%= render 'likes/like' %>
    </div>
  </div>
</section>