<section>
    <div class = 'listed-posts'>
        <h4><%= @post.title%> by <%= @post.author.name%></h4>
        <p><%= @post.text  %></p>
        <span class = 'comment-likes'>
            Comments: <%= @post.comments_counter || 0 %>
            <%= render 'comments/form' %>
            Likes: <%= @post.likes_counter || 0 %>
            <%= render 'likes/like' %>            
    </div>
    <ul class = 'comments-info'>
        <% if @post.comments.length == 0 %>
            <p>No comments yet</p>
        <% else %>
            <% @post.comments.each do |comment| %>
                <li><%= comment.author.name %> : <%= comment.text %></li>
            <%end%>
        <%end%>
    </ul>
</section>